@import "constants";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

header {
  background: $mainBgColor;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  .header_block {
    width: $mainWidth;
    display: flex;
    justify-content: space-between;
  }

  .errorlist {
    opacity: 0;
    visibility: hidden;
  }

  .logo_block {
    display: flex;
    align-items: center;

    .rating {
      display: flex;
      align-items: center;
      margin: 0 20px 0 10px;
      border: 0 solid white;
      border-radius: 10px;
      padding: 5px 10px 5px 20px;
      color: white;
      background: green;
      position: relative;

      img {
        position: absolute;
        top: 9px;
        left: 8px;
      }
    }

    .city_block {
      display: flex;
      align-items: center;
      color: white;
      font-size: 18px;

      .city {
        cursor: pointer;
        transition: all .5s ease;
      }

      .city:hover {
        color: grey;
      }
    }

    .logo_text_block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      span {
        margin-left: 30px;
        color: grey;
      }

      .number_phone {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 21px;
        margin-bottom: 5px;

        &:hover p,
        &:hover i {
          color: grey;
        }

        p {
          color: white;
          font-size: 18px;
          cursor: pointer;
          transition: color .5s ease;

          &:hover {
            color: grey;
          }
        }

        i {
          font-size: 20px;
          margin-right: 5px;
          cursor: pointer;
          color: white;
          transition: color .5s ease;

          &:hover {
            color: grey;
          }
        }
      }
    }
  }

  .header_link_block {
    display: flex;
    align-items: center;

    p {
      color: white;
      cursor: pointer;
      font-size: 18px;
      transition: all .5s ease;

      &:hover {
        color: grey;
      }
    }

    p:not(:last-child) {
        margin-right: 40px;
    }
  }

  .button_block {
    display: flex;
    justify-content: center;
    align-items: center;

    .language_not_auth {
      display: flex;
      align-items: center;
      color: white;
      margin-right: 20px;

      p:last-child {
        margin: 0 20px 0 10px;
        color: grey;
      }

      p {
        font-size: 16px;
        cursor: pointer;
        transition: all .5s ease;

        &:hover {
          color: white;
        }
      }
    }
    .language {
      display: flex;
      align-items: center;
      color: white;
      margin-right: 150px;

      p:last-child {
        margin: 0 20px 0 10px;
        color: grey;
      }

      p {
        font-size: 16px;
        cursor: pointer;
        transition: all .5s ease;

        &:hover {
          color: white;
        }
      }
    }

    button {
      width: 130px;
      height: 50px;
      border: 0 solid grey;
      border-radius: 32px;
      background: rgba(255, 255, 255, 0.16);
      cursor: pointer;
      color: white;
      font-size: 16px;
      font-weight: bold;
      transition: all .5s ease;

      &:hover {
        background: #5f5f5f;
      }
    }

    .user_menu_block {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      height: 85px;
      width: auto;
      transition: all .4s ease;

      .visible_user_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-bottom: 1px solid white;
        cursor: pointer;
        transition: all .5s ease;

        &:hover {
          color: darkred;
          border-bottom: 1px solid darkred;
        }
      }

      i {
        font-size: 18px;
        margin-right: 5px;
      }

      .user_name {
        font-size: 18px;
      }

      .hidden_user_menu {
        position: absolute;
        top: 85px;
        z-index: 999;
        background: $mainBgColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        color: white;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        border-radius: 0 0 10px 10px;
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease;

        .hidden_user_menu_block {

          p {
            margin-bottom: 10px;
            cursor: pointer;
            transition: all .5s ease;

            &:hover{
              color: darkred;
            }
          }

          a {
            display: flex;
            width: 120px;
            text-decoration: none;
            border-top: 1px solid rgba(255, 255, 255, 0.15);

            span {
              margin: 20px 0;
              color: white;
              font-size: 18px;
              font-weight: bold;
              transition: all .5s ease;

              &:hover{
                color: darkred;
              }
            }
          }
        }
      }
    }
  }

  .form-error {
    color: darkred;
    margin-top: 10px;
  }

  .form-error-reg {
    color: darkred;
    margin-top: 30px;
  }

  .auth_main_block {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;

    .auth_block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 500px;
      background: white;
      position: absolute;
      top: 240px;
      border: 1px solid grey;
      border-radius: 50px;

      img {
        position: absolute;
        top: 20px;
        right: 30px;
        height: 20px;
        width: 20px;
        cursor: pointer;
      }

      h1 {
        margin-bottom: 15px;
      }

      form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

      .form_auth {
        width: 350px;
        height: 50px;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 16px;
        outline: none;
        margin-bottom: 10px;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        height: 50px;
        width: 200px;
        border: 0 solid grey;
        border-radius: 20px;
        background: #5f5f5f;
        cursor: pointer;
        color: white;
        transition: all .5s ease;

        &:hover {
          background: grey;
        }
      }
      .register_buttons {
        margin-top: 30px;
        width: 350px;
        display: flex;
        justify-content: space-between;

        p {
          cursor: pointer;
          font-size: 18px;
          transition: all .5s ease;

          &:hover {
            color: darkred;
          }
        }
      }
    }
  }
  .reg_main_block {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;

    .reg_block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 580px;
      width: 500px;
      background: white;
      position: absolute;
      top: 240px;
      border: 1px solid grey;
      border-radius: 50px;

      img {
        position: absolute;
        top: 20px;
        right: 30px;
        height: 20px;
        width: 20px;
        cursor: pointer;
      }

      h1 {
        margin-bottom: 10px;
      }

      form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

      .form_register {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        #id_first_name {
          margin-right: 10px;
        }

        #id_password {
          margin-right: 10px;
        }
      }

      .form_reg {
        width: 392px;
        height: 50px;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 16px;
        outline: none;
        margin-bottom: 10px;
      }

      .form_reg_flex {
        display: flex;
        width: 180px;
        height: 50px;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 16px;
        outline: none;
        margin-bottom: 10px;
      }

      .reg_button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        height: 50px;
        width: 200px;
        border: 0 solid grey;
        border-radius: 20px;
        background: #5f5f5f;
        cursor: pointer;
        color: white;
        transition: all .5s ease;

        &:hover {
          background: grey;
        }
      }
      p {
        margin-top: 15px;
        font-size: 18px;

        button {
          margin-left: 10px;
          outline: none;
          border: 0;
          background: white;
          font-size: 16px;
          cursor: pointer;

          &:hover {
            color: darkred;
          }
        }
      }
    }
  }
  .message_order {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;

    .message_order_text {
      width: 400px;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      border: 0 solid grey;
      border-radius: 32px;

      p {
        width: 400px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 22px;
        color: red;
      }
    }
  }
}

.main_header {
  display: flex;
  justify-content: center;
  height: 90px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 0;

  .main_header_block {
    display: flex;
    justify-content: space-between;
    width: $mainWidth;

    .main_logo_block {
      display: flex;
      align-items: center;
      .logo {
        height: 75px;
        width: 150px;
      }
    }

    .search_block {
      position: relative;
      display: flex;
      align-items: center;

      a {text-decoration: none;}

      p {
        color: black;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        margin-right: 50px;
        transition: all .5s ease;

        &:hover {
          font-size: 24px;
        }
      }
    }

    //.search {
    //  height: 50px;
    //  width: 400px;
    //  border: 2px solid black;
    //  border-radius: 32px;
    //  padding: 0 15px 0 40px;
    //  font-size: 16px;
    //  outline: none;
    //  opacity: 100%;
    //}
    //
    //.search_icon {
    //  width: 25px;
    //  height: 25px;
    //  position: absolute;
    //  top: 32px;
    //  left: 10px;
    //  opacity: 40%;
    //  transition: all .5s ease;
    //}
    //
    //.search:focus ~ .search_icon {
    //  opacity: 100%;
    //}
    //
    //.cancel {
    //  width: 25px;
    //  height: 25px;
    //  position: absolute;
    //  top: 32px;
    //  right: 10px;
    //  cursor: pointer;
    //  opacity: 40%;
    //  transition: all .5s ease;
    //
    //  &:hover {
    //    opacity: 100%;
    //  }
    //}

    .main_header_order {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .order_block {
      display: flex;
      margin-right: 20px;
      height: 50px;
      text-decoration: none;
      background: rgb(254, 0, 33);
      border: 0 solid black;
      border-radius: 32px;
      cursor: pointer;
      transition: all .5s ease;

      &:hover {
          background: rgb(218, 4, 32);
      }

      img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }

      p {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }

      .line {
        width: 10px;
        border-radius: 0;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: stretch;
        color: black;
      }
    }
  }
}


footer {
  height: 280px;
  background: $mainBgColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  .footer_block {
    width: $mainWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer_text {
    height: $mainFooterH;

    .footer_logo {
      height: 40px;
      width: 200px;
      margin-bottom: 20px;
    }

    p {margin-bottom: 5px}
  }

  .list_block {
    height: $mainFooterH;
    display: flex;

    .app_logo_block {
      margin-right: 50px;
      width: 200px;

      .app_logo {
        height: 80px;
        width: 200px;
        cursor: pointer;
      }
    }

    .double_block {
      display: flex;
      flex-direction: column;
      margin-right: 50px;

      .payment_block {

        margin-top: 70px;

        .payment_logo_block {
          display: flex;
          height: 80px;
          align-items: center;

          .payment_logo {
            width: 100px;
            height: 80px;
          }

          .payment_logo_master {
            width: 100px;
            height: 50px;
          }
        }
      }
    }

    ul {
      list-style-type: none;
    }

    li {
      cursor: pointer;
      font-size: 18px;

      &:hover {
        color: grey;
      }
    }

    ul:not(:last-child) {
      margin-right: 50px;
    }

    ul li:not(:last-child) {
      margin-bottom: 10px;
    }

    .main_theme {
      cursor: auto;
      font-size: 18px;
      font-weight: bold;

      &:hover {
        color: white;
      }
    }
  }

  .footer_right_block {
    height: $mainFooterH;

    ul {
      list-style-type: none;
    }

    ul li:not(:last-child) {
      margin-bottom: 10px;
    }

    li {
      font-size: 18px;
    }

    .active {
      cursor: pointer;

      &:hover {
        color: grey;
      }
    }

    li:first-child {
      font-size: 24px;
      margin-bottom: 5px!important;
    }

    button {
      height: 35px;
      width: 165px;
      border: 0 solid grey;
      border-radius: 25px;
      font-size: 18px;
      color: white;
      font-weight: bold;
      background: rgba(255, 255, 255, 0.16);
      cursor: pointer;
      transition: all .5s ease;

      &:hover {
        background: #5f5f5f;
      }
    }
  }

  .web_icon {
    height: 60px;
    width: 100%;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);

    i {
      color: white;
      cursor: pointer;
    }

    i:not(:first-child),
    i:not(:last-child) {
      margin: 0 10px 0 10px;
    }

    i:hover {
      color: grey;
    }
  }
}




